.post {
  padding: 3rem 0;

  &-info {
    color: $default-tint;
    font-family: $serif-secondary;
    letter-spacing: 0.5px;
    text-align: center;

    span {
      font-style: italic;
    }
  }

  &-title {
    color: $default-shade;
    font-family: $sans-serif;
	letter-spacing: -0.03em;
    font-size: 4rem;
	line-height: 4.8rem;
    margin: 1rem 0;
    text-align: center;
  }

  p {
    margin: 0 0 1rem;
    text-align: justify;
	font-size: 0.9rem;
  }

  a:hover {
    text-decoration: underline;
  }

  img {
    margin: 0 auto 0.5rem;
  }

  img + em {
    color: $default-tint;
    display: block;
    font-family: $sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center;
  }

  hr {
    margin: 1rem 0;
    background: $grey-2;
    height: 1px;
    border: 0;
  }

  // CSS for making emoji inline
  img.emoji {
    display: inline-block;
    left: 0;
    transform: none;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
    padding: 0;
    margin: 0;
  }

  .video {
    position: relative;
    width: 100%;
    height: 450px;
  }

  .video iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
